# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Goto Symbol'
      'command': 'data-tags:goto'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'DataTags'
      'submenu': [
        {
          'label': 'Toggle Package'
          'command': 'data-tags:toggle'
        }
        {
          'label': 'Toggle CLI Panel'
          'command': 'data-tags:open-cli'
        }
      ]
    ]
  }
]
