'.source.tags':
  'editor':
    'commentStart': '<-- '
    'increaseIndentPattern': '(?x)
       ^ .* \\{ [^}"\']* $
      |^ .* \\( [^\\)"\']* $
      |^ .* \\[ [^\\]"\']* $
      |^ \\s* \\{ \\} $
      |^ \\s* \\[ \\] $
      '
    'decreaseIndentPattern': '(?x)
       ^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\}
      |^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\]
      |^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\)
      '
